* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #121212;
    color: white;
    line-height: 1.6;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px; 
}

.navigation ul {
    display: flex;
    gap: 50px;
    justify-content: flex-end;
    font-size: 15px;
}

h1 {    
    font-size: 30px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #6f00ff;
    text-shadow: 0 0 8px #6f00ff;
}

ul {
    list-style: none;
}

section {
    border-radius: 10px;
    margin: 40px 200px;
}

.about-me section {    
    background-color: #2A2A2A;
    padding: 100px;
    text-align: center;
}

.about-me h2 {
    margin-bottom: 50px;
    font-size:40px;
}

.learning section {
    padding: 100px;
    background-color: #2A2A2A;
    text-align: center;
}

.learning h2 {
    margin-bottom: 50px;
    font-size: 40px;
}

.preview section {
    background-color: #2A2A2A;
    padding: 100px;
    text-align: center;
}

.preview h2 {
    margin-bottom: 50px;
    font-size: 40px;
}

.address footer {
    text-align: center;
    padding: 20px;
}


 
