* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #121212;
    color: white;
    font-family: 'Segoe UI', Arial, sans-serif;
    line-height: 1.6;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    font-size: 15px;
}

a {
    text-decoration: none;
    transition: 0.3s ease-in-out;
    color: white;
}

a:hover {
    color: #6f00ff;
    text-shadow: 0 0 8px #6f00ff;
    
}

ul {
    list-style: none;
}

h1 {
    font-size: 30px;
    font-weight: 500;
}
